@model IEnumerable<BuscaDadosCVM.Models.ImportacaoTaxa>

@{
    ViewData["Title"] = "Importação das Taxas CVM";
}

<h2>Importador de Taxas CVM</h2>

<div class="row">
    <div class="col-md-4">
        <p>
            <a asp-action="Create" class="btn btn-default">Abrir o Importador de Taxas</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Status das Últimas Importação realizadas</h2>
    </div>
</div>

<p>
    <a asp-action="Index">Atualizar Status Importacao</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataImportacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusImportacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArquivoImportado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDivulgacaoArquivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataImportacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusImportacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArquivoImportado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDivulgacaoArquivo)
                </td>
            </tr>
        }
    </tbody>
</table>
