@model IEnumerable<BuscaDadosCVM.Models.Taxa>

@{
    ViewData["Title"] = "Importação das Taxas CVM";
}

<h2>Importador de Taxas CVM</h2>

<div class="row">
    <div class="col-md-4">
        <p>
            <a asp-action="Create" class="btn btn-default">Abrir o Importador de Taxas</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Status das Últimas Importação realizadas</h2>
    </div>
</div>






@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ_FUNDO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DT_COMPTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VL_TOTAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VL_QUOTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VL_PATRIM_LIQ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAPTC_DIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESG_DIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NR_COTST)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ_FUNDO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_COMPTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VL_TOTAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VL_QUOTA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VL_PATRIM_LIQ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CAPTC_DIA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RESG_DIA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NR_COTST)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
