@model BuscaDadosCVM.Models.Taxa

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Taxa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnoMesDivulgacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoMesDivulgacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataImportacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataImportacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ_FUNDO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNPJ_FUNDO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DT_COMPTC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DT_COMPTC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VL_TOTAL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VL_TOTAL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VL_QUOTA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VL_QUOTA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VL_PATRIM_LIQ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VL_PATRIM_LIQ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CAPTC_DIA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CAPTC_DIA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RESG_DIA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RESG_DIA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NR_COTST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NR_COTST)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
